* {
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
}

body {
    width: 100%;
    background: #ffffff;
}

div {
    box-sizing: border-box;
}


/* some properties */

.orange {
    color: #ff803a;
}

.green {
    color: #bdd436;
}

.margin-auto {
    margin: auto;
}


/* nav bar properties */

.nav-bar {
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    position: fixed;
}

.icon {
    flex-basis: 32%;
}

.icon a img {
    background-image: url(../img/wot-logo-whitex2.svg);
    background-repeat: no-repeat;
    background-size: 155px 31px;
    display: block;
    width: 155px;
    margin: auto;
}

.menu-options {
    background-color: black;
}

.menu {
    flex-basis: 60%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.menu li {
    text-align: center;
}

.menu li a {
    text-decoration: none;
    color: #F0F0F0;
    text-transform: uppercase;
    font-size: 1.143em;
    font-weight: 500;
    letter-spacing: 1px;
}


/* SECTION 1 */

.section-1 {
    background-image: url(images/pic/wot-masthead-dark.jpg);
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    height: 520px;
}

.section-1-heading h1 {
    margin: 30px 0px;
    padding-top: 80px;
    font-size: 155px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
    text-align: center;
    font-family: 'Oswald';
    line-height: 50px;
}

.section-1-heading small {
    font-size: 1.571rem;
    font-weight: 500;
    display: block;
    color: #fff;
    text-align: left;
}

.headline {
    letter-spacing: 1px;
    line-height: 10.000rem;
    width: 100%;
    display: block;
}

.subtitle {
    font-size: 1.286rem;
    display: block;
    text-transform: none;
    position: relative;
    font-weight: 500;
    line-height: 3;
}

.button-area {
    text-align: center;
}

.sec-1-btn {
    padding: 11px 36px;
    background-color: #bdd436;
    border: 2px solid #bdd436;
    border-radius: 25px;
    font-size: 1.143rem;
    width: 50%;
    line-height: 1.428571429;
    cursor: pointer;
}

.sec-1-btn span {
    font-family: "Open Sans";
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #FFF;
    letter-spacing: 1px;
    font-weight: 700;
}

.section-2 {
    padding: 40px 0;
    text-align: center;
    color: #6A787C;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
}

.content {
    font-weight: 400;
    font-size: 1.714em;
    line-height: 36px;
}

.toolbox {
    background-image: url(images/ico/sprite_home.png);
    background-position: -22px -113px;
    width: 75px;
    height: 75px;
    margin: auto;
    margin-top: 36px;
}

.section-2 h4 {
    text-transform: uppercase;
    font-size: 3.000em;
    font-weight: 300;
    font-family: 'Oswald';
}

.section-3 {
    font-family: 'Open Sans';
    font-weight: 500;
    color: #97A2A7;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 14px 15px;
}

.item {
    text-align: center;
    flex-basis: 30%;
    margin-top: 50px;
}

.l-bulb {
    background: url(images/ico/sprite_home.png);
    background-position: -311px -100px;
    display: block;
    width: 131px;
    height: 160px;
    margin: 0 auto;
}

.arrow {
    background: url(images/ico/sprite_home.png);
    background-position: -227px -91px;
    width: 74px;
    display: block;
    height: 160px;
    margin: 0 auto;
}

.power-off {
    background: url(images/ico/sprite_home.png);
    background-position: -119px -100px;
    width: 94px;
    display: block;
    height: 160px;
    margin: 0 auto;
}

.item p {
    margin: 0 0 10px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    min-height: 150px;
    position: relative;
}

.item a {
    text-decoration: none;
}

.item-arrow {
    height: 30px;
    width: 27px;
    background: url(images/ico/sprite_home.png);
    display: block;
    background-position: -46px -292px;
    margin: 20px auto;
}

.lf {
    border-right: 2px solid #dfdfdf;
    border-left: 2px solid #dfdfdf;
}

.section-4 {
    background-color: #f0f0f0;
    font-family: 'Open Sans';
    font-weight: 500;
    color: #486c73;
    width: 100%;
}

.section-4-post {
    text-align: center;
    padding: 15px;
}

.section-4 .section-4-post h2 {
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 300;
    margin-top: 36px;
    color: #486c73;
    font-family: 'Oswald';
}

.section-4 .section-4-post h6 {
    color: #40666d;
    font-size: 22px;
    margin: 5px 0 70px;
    font-weight: 500;
    line-height: 1.1;
}

.section-4-flex-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.parent {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.uncle,
.auntie {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin: 10px;
}

.auntie p,
.uncle p {
    flex-basis: 45%;
    background: #fff;
    margin: 0 0 15px 0;
    padding: 30px 1em;
    font-size: 24px;
    line-height: 2rem;
    font-weight: 500;
}

.uncle p small,
.auntie p small {
    font-size: 16px;
    color: #858585;
    display: block;
    margin-top: 5px;
}

.btn-area {
    width: 100%;
    padding: 4em;
    text-align: center;
}

.btn {
    height: 50px;
    background: #bdd436;
    border: 2px solid #bdd436;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 11px 36px;
    border-radius: 25px;
    white-space: nowrap;
}

.section-5 {
    text-align: center;
}

.section-5 h2 {
    padding: 40px 0;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 300;
    font-family: 'Oswald';
    color: #6a787c;
}

.section-6 {
    background: #40666d;

}
.post {
    text-align: left;
    width: 75%;
    margin: 0 auto;
    padding: 60px 0;
}
.section-6 .post h2 {
    font-size: 2.000em;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 10px;
    position: relative;
    display: inline;
    line-height: 1.1;

}

.section-6 .post .btn {
    display: inline-block;
    float: right;
    margin-top: -25px;
   
}
.section-6 .underline {
    width: 48px;
    border-top: none;
    height: 4px;
    background: #bdd537;
    color: #bdd537;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    box-sizing: content-box;
}

.
/* media query */

@media only screen and (min-device-width: 2560px) {
    .nav-bar {
        justify-content: space-evenly;
    }
    .menu {
        flex-basis: 30%;
    }
    
}

@media only screen and (min-device-width:1106px) {
    .section-1-heading {
        margin: auto;
    }
}

@media only screen and (max-device-width: 1024px) {
    .section-1-heading small {
        margin-left: 160px;
    }
}

@media only screen and (max-device-width: 992px) {
    .nav-bar {
        height: 10vh;
    }
    .section-1 {
        padding: 50px;
    }
    .sec-1-btn {
        width: 30%;
    }
    .head-fix small {
        margin-left: 120px;
    }
}

@media (min-device-width: 992px) {
    .contain-it {
        max-width: 970px;
    }
}

@media (min-device-width: 800px) {
    .parent {
        align-items: center;
    }
}

@media only screen and (max-device-width: 768px) {
    .nav-bar {
        background-color: white;
        max-height: 10vh;
    }
    .menu {
        display: none;
    }
    .sec-1-btn {
        width: 100%;
    }
    .section-1-heading .head-fix small {
        text-align: center;
        margin-left: 0;
    }
    .section-3 {
        flex-direction: column;
    }
    .lf {
        border: 0;
    }
    .parent {
        flex-direction: column;
    }
    .uncle , .auntie {
        margin: 0;
    }
}

@media only screen and (min-device-width: 450px) {
    .parent-flex {
        width: 100%;
    }
    .relative {
        display: flex;
        flex-direction: column;
    }
    .row-1,
    .row-2 {
        flex: 1;
        display: flex;
        flex-wrap: nowrap;
    }
    .row-1 .child,
    .row-2 .child {
      width: 30%;
        height: 300px;
        flex-basis: 100%;
    }
}

@media only screen and (max-device-width: 425px) {
    .section-1-heading {
        margin-top: 50px;
    }
    .section-5 .parent-flex {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .relative {
        display: flex;
        flex-wrap: wrap;
    }
    .section-5 .parent-flex .relative .child {
        width: 100%;
    }
}


/* test */